body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    /*margin:0;*/
  }
  
.bg-img {
    background-image: url("/images/sil.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*position: relative;*/
    padding-top: 2px;
    /*z-index: -1;*/
  }

img {
    position: absolute;
    width: 800px;
    height: 500px;
    /*z-index: 0;*/
}

.questions {
    position: absolute;
    background: grey;
    width:220px;
    height:500px;
    display: inline-block;
    outline: 2px dimgrey solid;
    overflow: auto;
    padding-left: 5px;
}

ul {
    list-style: none;
}

